<ion-header>
  <ion-toolbar>
    <ion-title>
      Social Sharing
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img (click)="EmailSocialSharing()" src="assets/img/gmail.png" alt="Email">
    <!-- <ion-button expand="block" (click)="WaSocialSharing()">Whatsapp</ion-button> -->
    <img (click)="WaSocialSharingToPhone()" src="assets/img/wa.png" alt="Whatsapp">
    <img (click)="TelegramSocialSharing()" src="assets/img/telegram.png" alt="Telegram">
  </div>
  
</ion-content>
